<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The MEAN stack</title>
    <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  </head>
  <body>

  </body>
</html>
